.mypage-wrap{
    display: flex;
    flex-wrap: wrap;
}
.mypage-wrap .mypage-title{
    width: 1200px;
    margin-bottom: 20px;
}


.mypage-zone{
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.mypage-menu{
    width: 250px;
    display: flex;
    flex-direction: column;
}
.mypage-menu .one-menu{
    width: 90%;
}
.mypage-menu .one-menu>a{
    display: inline-block;
    width: 100%;
}
.mypage-menu .one-menu>a:not(.one-menu-title):hover{
    background-color: var(--bg-dim);
}
.mypage-menu .one-menu>.one-menu-title{
    color: var(--primary);
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 5px solid var(--primary);
    cursor: default;
}
.mypage-menu .one-menu:not(:first-child){
    margin-top: 20px;
}
.mypage-menu .one-menu>a:not(.one-menu-title){
    font-size: 18px;
    padding: 10px 0;
}

/*==================mypage-content==================*/
.mypage-right{
    width: 950px;
}

.mypage-right-title{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 5px solid var(--content-primary);
}

.mypage-content{
    padding: 20px;
}




/*==================mypage-�쉶�썝�젙蹂댁닔�젙==================*/
.fake_hr{
    border: 1px solid var(--bg-secondary);
}

.mypage-right .member-info-top{
    box-shadow: var(--shadow-elevation);
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 30px;
}
.member-info-top .info-align{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mypage-right .member-info-top .propic{
    position: relative;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.mypage-right .member-info-top .propic img{
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid var(--bg-secondary);
}
.mypage-right .member-info-top .propic .modify-propic{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
}

.mypage-right .member-info-top .name-zone{
    display: flex;
    flex-direction: column;
}
.mypage-right .member-info-top .name-zone>h5{
    line-height: 18px;
}
.mypage-right .member-info-top .name-zone>p{
    margin-left: 2px;
}
.mypage-right .member-info-top .name-zone>p>.tip{
    margin-left: 2px;
}
#dayCheck{
    margin-left: 20px;
}
.member-info-top .name-zone ,.member-info-top .point-zone{
    margin-right: 100px;
}



/*===================�젙蹂� �닔�젙========================*/

.mypage-content .member-info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.mypage-content .member-info>form>h5{
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--bg-secondary);
}

.member-info .one-line{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.member-info .one-line.changePw{
	padding: 0;
	margin: 30px 0;
}

.member-info .one-line .name-tag{
    width: 180px;
    font-weight: bold;
    font-size: 16px;
    line-height: 38px;
}

.member-info .one-line input{
    width: 360px;
    height: 38px;
}
.member-info .one-line .subDiv{
    display: flex;
    flex-direction: column;
}
.member-info .one-line .subDiv a:not(.caution){
    font-weight: bold;
    text-decoration: underline;
    color: var(--content-tertiary);
}
.member-info .one-line .subDiv div{
    text-align: right;
}
.member-info .one-line .caution{
    display: none;
    color: var(--primary);
}

.member-info .one-line .notInput{
    border: none;
    padding: 0;
}


.modal-body .name-tag{
	font-weight: bold;
}
.modal-body .name-tag:not(:first-child){
	margin-top:10px;
}

#modelChangePw input+a{
	display:none;
	color: var(--primary);
}
