<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null값이 발생하면 빈칸("")이 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="moo.ng.san.notice.vo.Notice" alias="n" />
		<typeAlias type="moo.ng.san.notice.vo.FileVO" alias="f" />
		<typeAlias type="moo.ng.san.dayCheck.vo.DayCheck" alias="day" />
		<typeAlias type="moo.ng.san.dayCheck.vo.Point" alias="point" />
		<typeAlias type="moo.ng.san.askItem.vo.askItem" alias="a" />
		<typeAlias type="moo.ng.san.askItem.vo.docuVO" alias="d" />
		<typeAlias type="moo.ng.san.member.model.vo.Member" alias="m" />
		<typeAlias type="moo.ng.san.product.model.vo.Product" alias="p" />
		<typeAlias type="moo.ng.san.product.model.vo.FileVO" alias="pf" />
		<typeAlias type="moo.ng.san.order.model.vo.Order" alias="o" />
		
		
		
		<typeAlias type="moo.ng.san.board.model.vo.Board" alias="b" />
		<typeAlias type="moo.ng.san.board.model.vo.FileVO" alias="bf" />
		<typeAlias type="moo.ng.san.board.model.vo.BoardOption" alias="bo" />
		
		
		
		<typeAlias type="moo.ng.san.category.model.vo.Category" alias="c" />
		<typeAlias type="moo.ng.san.category.model.vo.DetailCategory" alias="dc" />
		<typeAlias type="moo.ng.san.like.model.vo.Like" alias="l" />
		
		
		
		
	</typeAliases>
	<!-- 
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m" />
	</typeAliases>
	 -->
</configuration>
