.header-wrap{
    background-color: aqua;
}
.header-content{
    width: 1200px;
    margin: 0 auto;
}

.header-top{
    text-align: right;
    background-color: brown;
}

.header-middle{
    background-color: bisque;
}
.title{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 48px;
}

.header-bottom{
    background-color: sandybrown;
}

