.header-wrap{
	height:120px;
    box-shadow:0px 0px 8px -2px rgba(120, 120, 120, 0.2);
    position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
 	z-index: 100;
    background: #fff;
}
.header-content{
    width: 1200px;
    margin: 0 auto;
}

section{
	display: flex;
}

.header-left{
	width: 10%;
}
.header-right{
	width: 90%;
}

/*============top-info=============*/
.header-info{
	height: 25px;
	text-align: right;
	padding-top : 5px;
}


/*====top====*/
.header-top{
	height:60px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.title{
    display: inline-block;
	font-family: 'Dongle', sans-serif;
    font-size: 60px;
    padding-left: 20px;
}
.middle-left{
	display:flex;
}
.mainSearch{
	width: 700px;
	position:relative;
	margin: auto;
}
.mainSearch-input{
	width: 100%;
	border-radius:0px !important;
	border-bottom: 3px solid #3a3a3a;
}
.mainSearch>span{ 
	position: absolute;
	top:8px ; right: 5px;
	cursor: pointer;
	font-size: 26px;
}
.middle-right>a>span{ 
	font-size:28px;
	padding: 5px 10px 0px 10px;
}
.middle-right>a>span:hover{
	color: var(--primary);
} 

/*====bottom====*/
.header-bottom{
	height:35px;
	display: flex;
	width:100%;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-top: 5px;
}
.header-bottom .menu-product{
	display: flex;
	justify-content: space-around;
	padding: 0 20px;
}
.header-bottom>div>div:not(.menu-area){
	margin-right:25px;
	border-bottom: 4px solid transparent;
}
.header-bottom>div>div:not(.menu-area):hover{
	border-bottom: 4px solid var(--primary);
}
.header-bottom a, .material-symbols-outlined{
	vertical-align: middle;
	font-size: 16px;
	font-weight: 500;
}


.header-bottom>.menu-product>.together{
	width: 124px;
	position:relative;
	color: var(--primary);
}
.header-bottom>.menu-product>.together span{
	position: absolute;
	left:102px;
	top:1px;
	font-size: 24px;
}



/*====menu-area====*/

.menu-area a{
	padding : 0 10px;
}

/*====category-dropdown====*/
.menu-category{
	position:relative;
	height: 120px;
	background-color: var(--primary);
	display:flex;
	align-items: center;
	justify-content:center;
	color: #fff;
}
.reorder-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}
.reorder{
	font-size: 36px;
}
.main-category{
	line-height: 42px;
}


.category-content{
	position: absolute;
	top:120px;
	left:0;
	background-color:var(--primary);
	width: 200px;
	height: 546px;
	display: none;
	color:#fff;
}

/*=============main-category==============*/
.main-category{
	display:flex;
	flex-direction:column;
	width:100%;
	font-size:16px;
	position: relative;
}
.main-category>div>a{
	display: inline-block;
	padding-left:20px;
	width: 100%;
}
/*=============sub==============*/
.sub{
	position: absolute;
	top:0;
	left:200px;
	background-color:#fff;
	width: 200px;
	height: 100%;
	color:#000;
	display: none;
	box-shadow: var(--shadow-elevation);
}
.sub>a{
	display: inline-block;
	padding-left:10px;
	width: 100%;
}
.sub>a:hover{
	transform:translate(5px,0);
	transition-duration:0.3s;
}	
.cate-name:hover{
	background-color: var(--bg-dim);
}



/*===============Msg===================*/
.helloMsg{
	font-size:14px;
	margin-right: 10px;
	color: #ffa200;
}
.staffMsg{
	font-size:14px;
	margin-right: 10px;
	color: red;
}






