.header-wrap{
	height:120px;
    box-shadow:0px 0px 8px -2px rgba(120, 120, 120, 0.2);
    position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
 	z-index: 100;
    background: #fff;
}
.header-content{
    width: 1200px;
    margin: 0 auto;
}

section{
	display: flex;
}

.header-left{
	width: 10%;
}
.header-right{
	width: 90%;
}

/*============top-info=============*/
.header-info{
	height: 25px;
	text-align: right;
	padding-top : 5px;
}


/*====top====*/
.header-top{
	height:60px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.title{
    display: inline-block;
	font-family: 'Dongle', sans-serif;
    font-size: 60px;
    padding-left: 20px;
}
.middle-left{
	display:flex;
}
.mainSearch{
	width: 700px;
	position:relative;
	margin: auto;
}
.mainSelect{
	position: absolute;
	top:8px;
	width: 130px;
	cursor:pointer;
	text-align: center;
}
.mainSelect>div{
	position: relative;
}
.mainSelect ul{
	width: 130px;
	position: absolute;
	box-shadow: 0px 8px 6px -6px #666;
	border:1px solid #f3f3f3;
	border-top:none;
	top:33px;
	border-radius: 5px;
	background: #fff;
	display: none;
}
.mainSelect ul>li{
	padding: 10px;
}
.mainSelect ul>li:hover{
	background: var(--bg-dim);
}
#customSelectBox>div{
	position: relative;
}
#customSelectBox>div .expand{
	position: absolute;
	top:3px;
	right: 0;
}

.mainSearch-input{
	width: 100%;
	border-radius:0px !important;
	border-bottom: 3px solid #3a3a3a;
	padding-left: 160px !important;
}
.mainSearch>button{ 
	position: absolute;
	top:6px ; right: 5px;
	cursor: pointer;
	font-size: 26px;
}
.middle-right>a>span{ 
	font-size:28px;
	padding: 5px 10px 0px 10px;
}
.middle-right>a>span:not(.alram-circle):hover{
	color: var(--primary);
}
.middle-right>a.alram-zone{
	 position: relative;
}
.middle-right>a.alram-zone>.alram-circle{
	padding:0;
	display:inline-block;
	position:absolute;
	left:28px;
	bottom:-10px;
	background-color: var(--secondary);
	width: 20px;
	height: 15px;
	text-align:center;
	font-size: 10px;
	border-radius: 15px;
} 

/*====bottom====*/
.header-bottom{
	height:35px;
	display: flex;
	width:100%;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-top: 5px;
}
.header-bottom .menu-product{
	display: flex;
	justify-content: space-around;
	padding: 0 20px;
}
.header-bottom>div>div:not(.menu-area){
	margin-right:25px;
	border-bottom: 4px solid transparent;
}
.header-bottom>div>div:not(.menu-area):hover{
	border-bottom: 4px solid var(--primary);
}
.header-bottom a, .material-symbols-outlined{
	vertical-align: middle;
	font-size: 16px;
	font-weight: 500;
}


.header-bottom>.menu-product>.together{
	width: 124px;
	position:relative;
	color: var(--primary);
}
.header-bottom>.menu-product>.together span{
	position: absolute;
	left:102px;
	top:1px;
	font-size: 24px;
}



/*====menu-area====*/

.menu-area a{
	padding : 0 10px;
}

/*====category-dropdown====*/
.menu-category{
	position:relative;
	height: 120px;
	background-color: var(--primary);
	display:flex;
	align-items: center;
	justify-content:center;
	color: #fff;
}
.reorder-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}
.reorder{
	font-size: 36px;
}
.main-category{
	line-height: 42px;
}


.category-content{
	position: absolute;
	top:120px;
	left:0;
	background-color:var(--primary);
	width: 200px;
	height: 546px;
	display: none;
	color:#fff;
}

/*=============main-category==============*/
.main-category{
	display:flex;
	flex-direction:column;
	width:100%;
	font-size:16px;
	position: relative;
}
.main-category>div>a{
	display: inline-block;
	padding-left:20px;
	width: 100%;
}
/*=============sub==============*/
.sub{
	position: absolute;
	top:0;
	left:200px;
	background-color:#fff;
	width: 200px;
	height: 100%;
	color:#000;
	display: none;
	box-shadow: var(--shadow-elevation);
}
.sub>a{
	display: inline-block;
	padding-left:10px;
	width: 100%;
}
.sub>a:hover{
	transform:translate(5px,0);
	transition-duration:0.3s;
}	
.cate-name:hover{
	background-color: var(--bg-dim);
}



/*===============Msg===================*/
.helloMsg{
	font-size:14px;
	margin-right: 10px;
	color: #ffa200;
}
.staffMsg{
	font-size:14px;
	margin-right: 10px;
	color: red;
}


/*===============뭉 충전===================*/
.notPointStyle{
	padding-right:15px;
	font-weight: bold;
}




/* 스크롤 */
::-webkit-scrollbar { width: 10px; } /* 스크롤 바 */

::-webkit-scrollbar-track { background-color:#fff; } /* 스크롤 바 밑의 배경 */

::-webkit-scrollbar-thumb { background: var(--primary); border-radius: 10px; } /* 실질적 스크롤 바 */

::-webkit-scrollbar-thumb:hover { background: #ffa13d; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

::-webkit-scrollbar-thumb:active { background: #ff8d0c; } /* 실질적 스크롤 바를 클릭할 때 */

::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

