.top-info-box{
display: flex;
}
img{
    width: 500px;
    height: 500px;
}
.quick-scroll-bar>ul{
    display: flex;
}
.first-info-box{
    margin-left: 30px;
    margin-top: 10px;
}
.first-info-box-table>table{
    border: none;
}
.first-info-box-table th{
    height: 100px;
    background-color: #fff;
    text-align: left;
}
.product-name{
    font-size: 30px;
    font-weight: bold;
}
.no-discount-price{
    font-size: 15px;
    padding-left: 15px;
    color: darkgray;
}
.product-discount>a{
    font-size: 30px;
    color: #f88000;
    font-weight: bold;
    width: 80px;
}
.product-price{
    font-size: 20px;
    font-weight: bold;
    color: #3A3A3A;
}
.price-box>tbody>tr:first-child>td:first-child{
    width: 80px;
}
.price-box td{
    text-align: left;
}
.price-box{
    border: 1px solid #fff;
    height: 45px;
    
}

.price-box-top{
    display: flex;
    padding-top: 10px;
}
.real-price{
    padding-left: 9px;
}

.flex-wrap{
    padding-top: 10px;
}
.flex-box{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e4e5;
}
.info-title-box{
    line-height: 65px;
}
.info-title{
    font-size: 20px;
    font-weight: bold;
    padding-left: 100px;
}
.info-content{
    font-size: 15px;
    padding-left: 200px;
}
.arrive-box{
    display: flex;
}
.review-box{
    display: flex;
}
.delivery-info{
    padding-top: 15px;
    font-weight: bold;
    color: #f88000;
}
.delivery-info>span{
    font-weight: normal;
    color: #3A3A3A;
    font-size: 13px;
}
.ic1>ul>li:nth-child(2){
    font-size: 13px;
}
.delivery-percent{
    font-weight: bold;
    color: #f88000;
}
.product-price-currency{
    font-size: 18px;
}
.division-line{
    width: 1200px;
    height: 10px;
    border-bottom: 1px solid #e1e4e5;
}
.icon-box{
    padding-left: 380px;
    display: flex;
}
.flex-price-box{
    display: flex;
}
.share-icon{
    padding-left: 30px;
}
.like-icon>a>span{
    font-size: 40px;
    fill: #f88000;
}
.share-icon>a>span{
    font-size: 40px;
}

/* 구매버튼 css 시작 */
.fix-button-box{
    position: fixed;
    width: 100%;
    max-width: 1200px;
    bottom: 0;
    z-index: 100;
    padding: 8px 10px;
    background-color: #fff;
}
.button-box{
    display: flex;
    margin: 0 3px;
}
.button{
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    height: 50px;
    margin: 0 3px;
}
.buy-one-btn{
    flex: 0.3 1 0%;
    border: 1px solid #f88000;
}
.gonggu-buy-btn{
    flex: 0.7 1 0%;
    background-color: #f88000;
    color: #fff;
}
/* 구매버튼 css 끝 */