
.photo-review-item{
    float: left;
    background-color: lemonchiffon;
    padding: 20px;
    box-sizing: border-box;
}

.photo-review-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

.photo-review-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-review-more{
    position: absolute;
    background-color: rgba(110, 110, 110, 0.45);
    width: 100%;
    height: 100%;
    top: 0;
    color: #eee;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
}

.back-photo-review-more{
    cursor: pointer;
    background-color: hotpink;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.photo-review-more>a{
    display: inline-block;
    width: 100%;
}

.review-header{
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.review-navi{
    display: flex;
}

.review-filter{
    margin-right: 20px;
    cursor: pointer;
}

.review-range{
    cursor: pointer;
}

.review-range-view{
    position: absolute;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.review-range-thing{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    color: #8d8d8d;
    cursor: pointer;
    width: 95px;
}

.review-range-thing:hover{
    color: #3a3a3a;
}

.review-range-thing:last-child{
    border-bottom: none;
}

.review-box{
    /* background-color: #eee; */
    display: flex;
    padding: 30px;
    align-items: center;
}

.review-img{
    width: 240px;
    height: 240px;
    border: 1px solid #ccc;
}

.review-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-right{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 30px;
}

.review-info{
    /* background-color: aliceblue; */
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-option{
    display: flex;
}

.review-report>span{
    color: #ff4343;
    font-variation-settings:
    'FILL' 1;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.review-enroll-date{
    font-size: 12px;
    margin-top: 2px;
}

.review-rating{
    display: flex;
}

.material-symbols-outlined.star-rate{
    font-variation-settings:
    'FILL' 1;
    color: gold;
    font-size: 24px;
}

.review-content{
    /* background-color: lavender; */
    width: 800px;
    height: 210px;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
    border: 1px solid #ccc;

    
}

::-webkit-scrollbar { width: 5.2px; } /* 스크롤 바 */

::-webkit-scrollbar-track { background-color:#fff; } /* 스크롤 바 밑의 배경 */

::-webkit-scrollbar-thumb { background: #ddd; border-radius: 10px; } /* 실질적 스크롤 바 */

::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */

::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

.review-like{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.review-like>div{
    text-align: right;
    padding-top: 15px;
    /* background-color: honeydew; */
    cursor: pointer;
}

.review-like>div{
    /* width: 95px; */
    display: flex;
    align-items: center;
    border: 1px solid #3a3a3a;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.review-like>div a{
    font-size: 14px;
}

.review-like>div>span{
    display: none;
    font-size: 22px;
    padding-right: 3px;
}

.material-symbols-outlined.review-like-on{
    display: inline;
}

.review-like>.review-like-color{
    color: var(--primary);
    border: 1px solid var(--primary);
}
