@charset "UTF-8";

    .topBtns>div{
    	float: left;
    }
    
    .adminPage-main{
		margin-top: 35px;
	}
    
    .adminPage-content{
        background-color: #fff;
        overflow: hidden;
    }
    
    .material-symbols-outlined{
        font-size: 150px;
        
    }
    .mainContent{
        float: left;
        width: 300px;
        height: 400px;
        text-align: center;
    }
    /**/
    .adminPage-search {
	  display: flex;
	  align-items: center;
	  margin-bottom: 15px;
	}

	.search-select,
	.search-input,
	.area-btn {
	  margin-right: 10px;
	}

	.btn {
	  margin-right: 5px;
	}
	/**/

    .searchForm{
    	display: none;
    }
    
    .moreResult{
		float: right;
	    top: 130px;
	    position: absolute;
	    right: 294px;
	    text-align: left;
	    background-color: lightgray;
	    width: 400px;
	    height: 1000px;
	    display: none;
    }
    
    
	.moreResult #closeBtn {
	  display: inline-block;
	  font-size: 30px;
	  cursor: pointer;
	  transition: transform 0.5s ease;
	}
	
	.moreResult #closeBtn:hover {
	  transform: rotate(360deg);
	}
	
	.moreResult #closeBtn:active {
	  transform: rotate(360deg);
	}
    
    
    .moreResult>div>div{
    	font-size: 40px;
    	cursor: pointer;
    }
    
    .moreResultContent>ul>li:hover{
    	font-size: 1.5em;
    }
    /* 구분 사이즈 다운 아아아아아아 */
    .table tr:nth-child(0) th:nth-child(0) {
		width: 50px !important;
	}
	
	.table tr td{
		padding: 0;
	}
	[name=changeMemberStatusBtn]{
		cursor: pointer;
	}
	
	[name=changeMemberStatusBtn]:active{
		box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	    transform: translateY(4px);
	}
	
	/* 더보기 버튼 */
	.moreInfo{
		padding: 3px;
		cursor: pointer;
	}
	
	.moreInfo:active {
	    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	    transform: translateY(4px);
     }
	
    
	.highlight {
	  animation: highlight 1s ease-in-out;
	  background-color: #ffd900;
	  color: #fff;
	}

	@keyframes highlight {
	  0% {
	    background-color: transparent;
	  }
	  50% {
	    background-color: #ffd900;
	  }
	  100% {
	    background-color: transparent;
	  }
	}

