@charset "UTF-8";
	default{
		margin: 0;
		padding: 0;
	}
    .adminPage-wrapper{
        background-color: #f88000; /* admin-page 상단 색상 */
        width: ;
        margin: 0;
        
    }
    .adminPage-header{
        margin-left: 30px;
    }
    .adminPage-header>div{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .adminPage-header>div>a{
        color: #54185c;
        list-style: none;
        text-align: center;
        font-size: 40px;
        font-weight: bold;

    }
    .adminPage-back{
        background-color: lightyellow;
        overflow: hidden;
    }
    .adminPage-sidebar{
        float: left;
        width: 220px;
        background-color: #f88000; /* 사이드바 배경 */
        height: 2000px;
        text-align: center;
        
    }
    .adminPage-sidebar>ul{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        margin-top: 20px;
        

    }
    .adminPage-sidebar>ul>li{
        /* border: 1px solid black; */
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        
        
    }
    .adminPage-sidebar>ul :hover{
        color: #f88000;
        background-color: white;
        
    }
    
    .adminPage-sidebar>ul>li>a{
        text-decoration: none;
        color: #54185c;
        font-weight: bold;
        margin-left: 30px;
    }
    
    .adminPage-back>ul>li{
        text-decoration: none;
        
    }
    
    .adminPage-content{
    	background-color: white; /* content 메인 배경색상 */
    }
    .adminPage-search{
    	margin-top: 20px;
    }
  
    .adminPage-result{
    	background-color: white;
    	overflow: hidden;
    }
    
    