@charset "UTF-8";
	default{
		margin: 0;
		padding: 0;
	}
    .adminPage-wrapper{
        background-color: ; /* admin-page 상단 색상 */
        width: ;
        margin: 0;
        
    }
    .adminPage-main{
    	overflow: hidden;
    	margin-top: 35px;
    }
    
    .adminPage-title{
    	height: 130px;
    	line-height: 130px;
    }
    .adminPage-header{
        margin-left: 30px;
    }
    .adminPage-header>div{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .adminPage-header>div>a{
        color: #ffa200;
        list-style: none;
        text-align: center;
        font-size: 40px;
        font-weight: bold;

    }
    .adminPage-back{
        background-color: ;
        overflow: hidden;
    }
    
    .adminPage-sidebar{
        float: left;
        width: 250px;
        background-color: ; /* 사이드바 배경 */
        text-align: center;
        /*  */
  		color: #ffa200;
        font-size: 18px;
  		padding: 10px;
        
    }
    .adminPage-sidebar>ul{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        margin-top: 20px;
        

    }
    .adminPage-sidebar>ul>li{
        /* border: 1px solid black; */
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .adminPage-sidebar>ul :hover{
        color: #f88000;
        /* background-color: white; */
        
    }
    
    .adminPage-sidebar>ul>li>a{
        text-decoration: none;
        color: #70ad54;
        font-weight: bold;
        margin-left: 30px;
        /*  */
        display: block;
		transition: background-color 0.3s ease;
    }
    
    /*  */
    .adminPage-sidebar ul li a:hover {
		background-color:;
		color: #3a3a3a;
		font-size: 20px;
	}
	
	.adminPage-sidebar ul li a:active {
	    animation: buttonClick 0.3s ease;
	}
	
	
	@keyframes buttonClick {
	  0% {
	    transform: scale(1);
	  }
	  50% {
	    transform: scale(0.95);
	  }
	  100% {
	    transform: scale(1);
	  }
	  
	  /*  */
    
    .adminPage-back>ul>li{
        text-decoration: none;
        
    }
    
    .adminPage-content{
    	background-color: white; /* content 메인 배경색상 */
    }
    .adminPage-search{
    	margin-top: 20px;
    }
  
    .adminPage-result{
    	background-color: white;
    	overflow: hidden;
    	width: 98%;
    }
    
    /**/
    .adminPage-search {
	  display: flex;
	  align-items: center;
	  margin-bottom: 15px;
	}

	.search-select,
	.search-input,
	.area-btn {
	  margin-right: 10px;
	}

	.btn {
	  margin-right: 5px;
	}
	/**/
    