<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    <!-- <%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %> -->
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<style>
    .adminPage-wrapper{
        background-color: #111;
        /* width: 1200px; */
        margin-top: 300px;
        
    }
    .adminPage-header{
        margin-left: 30px;
    }
    .adminPage-back{
        background-color: lightyellow;
        overflow: hidden;
    }
    .adminPage-sidebar{
        float: left;
        width: 300px;
        background-color: lightcoral;
        height: 2000px;

    }
    .adminPage-sidebar>ul>li{
        list-style-type: none;
    }
    .adminPage-main{
        background-color: lightgreen;
    }
    .adminPage-content{
        background-color: #fff;
        overflow: hidden;
    }
    .material-symbols-outlined{
        font-size: 150px;
        
    }
    .mainContent{
        float: left;
        width: 300px;
        height: 400px;
        text-align: center;
    }
    .icon{

    }
    .mainContent>div>h2{

    }
    .mainContent>div>h3{
        
    }
    .mainContent>div>h4{
        
    }


</style>
<body>
    <c:if test="${not empty memberStatus and memberStatus == 0}">
        <!-- 관리자일때만 페이지 보이게 세팅 -->
    </c:if>
    <div class="adminPage-wrapper">
        <div class="adminPage-header">
            <h1><a href="#">Admin-Page</a></h1>
        </div>
        <div class="adminPage-back">
            <div class="adminPage-sidebar">
                <ul>
                    <a href="/adminMemberPage.do">회원 관리</a>
                    <li><a href="/manageMemberGrade.do">회원등급 관리</a></li>
                </ul>
                <ul>
                    <a href="/adminSalesManagePage.do">매출 관리</a>
                    <li><a href="/totalSalesManage.do">전체 매출 관리</a></li>
                    <li><a href="/categorySalesManage.do">카테고리별 매출관리</a></li>
                </ul>
                <ul>
                    <a href="/adminProductPage.do">상품 관리</a>
                    <li><a href="/productConfirmManage.do">상품 등록 관리</a></li>
                    <li><a href="/productRegist.do"></a>상품 등록</li>
                    <li><a href="/deliveryManage.do"></a>배송 관리</li>
                </ul>
                <ul>
                    <a>이벤트 관리</a>
                    <li>쿠폰 발행 관리</li>
                </ul>
                <ul>
                    <a href="/adminBoardManagePage.do">여기여기붙어라 관리</a>
                    <li>여기여기붙어라 게시판 관리</li>
                    <li>여기여기붙어라 신고 관리</li>
                    <li>카테고리별 매출관리</li>
                </ul>
            </div>
            <div class="adminPage-main">
                <div class="adminPage-content">
                    <div class="adminPage-search">
                        <select name="memberSearchBox">
                            <option name="memberNo">회원번호 검색</option>
                            <option name="memberId">회원 아이디 검색</option>
                            <option name="memberName">회원 이름 검색</option>
                        </select>
                        <input type="text" name="memberSearchBox" id="searchOption">
                    </div>
                    <div class="adminPage-result">
                        <table>
                            <tr>
                                <td>회원번호</td>
                                <td>회원아이디</td>
                                <td>이름</td>
                                <td>이메일</td>
                                <td>전화번호</td>
                                <td>주소</td>
                                <td>성별</td>
                                <td>생년월일</td>
                                <td>은행정보</td>
                                <td>계좌번호</td>
                                <td>회원등급</td>
                                <td>가입동의여부</td>
                                <td>가입일</td>
                                <td>회원등급 변경</td>
                                <td>확정버튼</td>
                            </tr>
                            <c:foreach items="${memberList}" var="m">
                                <tr>
                                    <td>${memberNo}</td>
                                    <td>${memberId}</td>
                                    <td>${memberName}</td>
                                    <td>${memberEmail}</td>
                                    <td>${memberPhone}</td>
                                    <td>${memberAddr}</td>
                                    <td>${memberGender}</td>
                                    <td>${memberBday}</td>
                                    <td>${memberBank}</td>
                                    <td>${memberAccount}</td>
                                    <c:choose>
                                        <c:when test="${memberStatus == 0}">
                                            <td>관리자</td>
                                        </c:when>
                                        <c:when test="${memberStatus == 1}">
                                            <td>정상회원</td>
                                        </c:when>
                                        <c:when test="${memberStatus == 2}">
                                            <td>정지회원</td>
                                        </c:when>
                                        <c:when test="${memberStatus == 3}">
                                            <td>탈퇴회원</td>
                                        </c:when>
                                    </c:choose>
                                    <td>${memberAgree}</td>
                                    <td>${memberDate}</td>
                                    <td>
                                        <select name="memberStatusList">
                                            <option name="memberStatusList" value="0">관리자</option>
                                            <option name="memberStatusList" value="1">정상회원</option>
                                            <option name="memberStatusList" value="2">정지회원</option>
                                            <option name="memberStatusList" value="3">탈퇴회원</option>
                                        </select>
                                    </td>
                                    <td><button type="button" id="changeMemberStatus">회원등급 변경</button></td>
                                </tr>
                            </c:foreach>
                            <tr>
                                <th colspan="15">${pageNavi}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <h1>관리자 페이지입니다.</h1>
	<h3><a href="/adminMemberPage.do">관리자 페이지(회원)</a></h3>
	<h3><a href="/adminProductPage.do">관리자 페이지(상품)</a></h3>

    <script>
        var memberTotalCount = $("#memberTotalCount");
        var productTotalCount = $("#productTotalCount");
        var boardTotalCount = $("#boardTotalcount");
        var orderTotalCount = $("#orderTotalcount");
        var bestProductTotalCount = $("#bestProductTotalCount");
        var couponTotalCount = $("#couponTotalCount");

        $.ajax({
            url : "/ajaxTotalCount.do",
            method : "get",
            dataType : "json",
            success : function(data){
                memberTotalCount.text(data.total[0]);
                productTotalCount.text(data.total[1]);
                boardTotalCount.text(data.total[2]);
                orderTotalCount.text(data.total[3]);
                bestProductTotalCount.text(data.total[4]);
                couponTotalCount.text(data.total[5]);
            }
            
        });

    </script>
</body>
</html>